*.version
*.name
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ide project files
target
.settings
.classpath
*.project
.DS_Store
.idea
*.iml
.factorypath

# special dir
logs
.DS_Store
*.log

#gradle
.gradle/
gradle
build
buildSrc
lombok.config
