server:
  port: 6060
  servlet:
    context-path: /

spring:
  profiles:
    active: local
  redis:
    host: localhost
    port: 6379
  flyway:
    enabled: true
    locations: [ "classpath:/db/migration" ]
    out-of-order: true
  main:
    allow-bean-definition-overriding: false
  datasource:
    url: jdbc:mysql://localhost:3306/demo?serverTimezone=Asia/Shanghai&characterEncoding=utf8&useUnicode=true&useSSL=false&zeroDateTimeBehavior=convertToNull
    username: root
    password: 12345678
    driver-class-name: 'com.mysql.cj.jdbc.Driver'
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    open-in-view: false
    hibernate:
      use-new-id-generator-mappings: false
logging:
  config: classpath:logback-spring.xml
